.user-container {
  width: 50vw;
  height: auto;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  transition: all 1s ease-in;
  overflow: hidden;

  &:hover {
    animation: jiggle 1s ease forwards;
    @keyframes jiggle {
      0% {
      }

      50% {
        transform: translateX(-20px);
      }

      100% {
        transform: translateX(20px);
      }
    }
  }

  .user-img {
    width: 350px;
    display: block;

    .img {
      width: 100%;
      border-radius: 50%;
    }

    @media only screen and (max-width: 600px) {
      .user-img {
        width: 200px;
        grid-column: 1;
      }
    }
  }

  .user-content {
    margin: 1rem;
    padding: 1rem;

    a {
      text-decoration: none;
    }

    .btn {
      display: inline-block;
      background-color: #333333;
      color: white;
      padding: 5px 10px;
      border-radius: 10px;

      &:hover {
        opacity: 0.8;
      }
    }

    .back-to-search {
      display: inline-block;
      margin: 1rem;
      background-color: #333333;
      color: white;
      padding: 5px 10px;
      border-radius: 10px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
