.navbar {
  width: 100%;
  height: 60px;
  background-color: #333333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .fab {
    margin: 0 7px 0 0px;
  }

  li {
    list-style-type: none;
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: white;
    margin-right: 2rem;

    &:hover {
      color: #474646;
    }
  }
}
