.alert {
  text-align: center;
  width: 50%;
  background-color: rgb(224, 52, 66);
  margin: 1rem auto;
  padding: 0.7rem;
  border-radius: 20px;
  animation: bounce 1s ease forwards;
}

// alert animation styles
@keyframes bounce {
  0% {
    opacity: 0;
  }
  30% {
    transform: translateY(30px);
    opacity: 0.3;
  }

  50% {
    transform: translateY(0px);
    opacity: 0.5;
  }

  70% {
    transform: translateY(0px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
